/*!
 * Written by Michael Heple Web Design
 * Visit us at michaelheple.com
 */

html, body, #wrapper {
    height: 100%;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #cdd0c9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.sidebar-brand>a>img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    height: 100%;
    max-height: 235px;
}
.sidebar-brand {
    height: 30%;
}
#menu-toggle {
    padding: 1px 5px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    float: left;
}
#menu-toggle:hover, #menu-toggle:focus {
    background-color: transparent;
}
.nav {
    text-align:center;
    height: 70%;
}
.nav>li>a{
    color:#fff;
    margin: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    display:table;
}
.nav>li>a>span {
    display: table-cell;
    vertical-align: middle
}
.nav>li>a:hover{
    background-color: transparent;
    border: none;
}
.nav>li {
    height:20%;
}
#home-button {
    background-color: #6b5353;
}
#services-button {
    background-color: #9ab6c2;
}
#aboutme-button {
    background-color: #9a454c;
}
#portfolio-button {
    background-color: #3e425f;
}
#contact-button {
    background-color: #4d6a72;
}

/* Media Queries */

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper{
        padding: 20px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}