/*!
 * Written by Michael Heple Web Design
 * Visit us at michaelheple.com
 */

html, body {
    height: 100%;
}
#wrapper {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
#sidebar-wrapper {
    height: 100%;
    background-color: #3e425f;
}
.sidebar-brand>a>img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    height: 70%;
    max-height: 205px;
}
.sidebar-brand>a>h1 {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 5px 0 0 0;
    font-family: helvetica;
}
.sidebar-brand>a>h2 {
    font-size: 16px;
    margin: 0;
    text-align: center;
    color: #fff;
}
.sidebar-brand {
    height: 30%;
    min-height: 185px;
}
#menu-toggle {
    padding: 1px 5px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    float: left;
    font-size: 18px;
}
#menu-toggle:hover, #menu-toggle:focus {
    background-color: transparent;
}
.nav {
    margin-top: 20px;
}
.nav>li>a{
    color:#fff;
    padding: 1px 15px;
}

/* Media Queries */

@media (min-width: 768px) {
    
}